* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  min-height: 100vh;
  padding: 18px;
}
.column {
  border-radius: 4px;
  background: white;
  padding: 20px;
}
.component {
  margin-bottom: 20px;
}
