<script type="module" src="../js/components/data-component.js"></script>

<div class="data-component">
    <h2>Real-Time Data</h2>
    <div class="data-item">
        <img src="./assets/speedometer.svg" alt="Speed Icon">
        <div id="speed">Speed: 0 m/s</div>
    </div>
    <div class="data-item">
        <img src="./assets/temperature.svg" alt="Temperature Icon">
        <div id="temp">Temperature: 25°C</div>
    </div>

    <div class="data-item">
        <img src="./assets/battery.svg" alt="Battery Icon">
        <div id="battery">Battery Level: 100%</div>
    </div>
    <div class="data-item">
        <img src="./assets/cpu.svg" alt="CPU Icon">
        <div id="cpu">CPU Usage: 18%</div>
    </div>
    <div class="data-item">
        <img src="./assets/ram.svg" alt="RAM Icon">
        <div id="ram">RAM Usage: 30%</div>
    </div>
</div>